html {
    background-color: black;
    color: blanchedalmond;
    font: Sans-Serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#intro {
    text-align: center;
    font-size: 25px;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:darkcyan;
}

#nav ul li a {
    float: left;
    display: inline-block;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 40px;
    color: white;
}

.active a {
    background-color: darkblue;
}

#nav ul li a:hover { 
    background-color: wheat; 
    color: black;
}


#res article {  
    padding: 10px;
    background-color: black;
    text-decoration: none;
}


#res pre {
    text-align: center;    
    background-color: black;
    color: blanchedalmond;
    text-decoration: none;
    font-size: 40px;
}

#res div {
    text-align: center;    
    background-color: black;
    color: blanchedalmond;
    text-decoration: none;
}

#res li {
    font-size: 40px;
    list-style: none;
    text-decoration: none;
    color: blanchedalmond;
}

#res li a {
    text-decoration: none;
    color: blanchedalmond;
}

#res li a:hover {
    color: wheat;
}

#res h1 {
    font-size: 80px;
}

#res h2 {
    font-size: 60px;
}

#about {
    font-size: 50px;
    text-align: center;
}

#about ul li {
    list-style: none;
}

#about ul li a {
    text-decoration: none;
    color: white;
}

#about ul li a:hover {
    color: wheat;
}

#intro {
    font-size: 50px;
}

#intro a {
    text-decoration: none;
    color: white;
}

#intro a:hover {
    text-decoration: none;
    color: wheat;
}

#game p {
    font-size: 50px;
    margin-left: 20px;
}

#game p a {
    text-decoration: none;
    color: white;
}

iframe {
    margin-left: 30px;
    margin-right: 100px;
    margin-top: 50px;
    width: 300px;
}

#big {
    font-size: 60px;
    text-align: center;
}

#icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
