.github_proj {
  max-width: 80%;
  width: auto;
  margin: 0 auto;
  transition: all 0.3s;
  padding: 15px;
}

.container {
  background-color: rgb(22, 21, 21);
  transition: all 0.3s;
  border-radius: 5px;
  border: solid;
  box-shadow: 10px 4px 8px 0 rgb(55, 55, 55, 0.6);
  padding: 20px;
}

.container:hover {
  box-shadow: 10px 4px 8px 0 rgba(87, 85, 85, 0.8);
}

.container p {
  font-size: 20px;
}

.container h1 {
  margin: 0 auto;
  padding-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
}

.container a {
  text-decoration: none;
  color: white;
  text-shadow: 0px 2px rgb(71, 181, 255);
  transition: all 0.3s ease 0s;
  background-color: rgb(244, 242, 244, 0);
  padding: 4px 15px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 20px;
}

.container a:hover {
  text-decoration: none;
  color:white;
  background-color: rgba(33, 87, 189, 0.9);
  text-shadow: 2px 2px black;
}