.section {
  text-align: center;
  font-weight: lighter;
  font-style: italic;
  margin: 0;
}

.App {
  margin: 0;
}

#captions{
  margin: 5px;
  font-weight: lighter;
}

.about {
  width: 80%;
  height: 35%;
  margin: auto;
  font-size: 22px;
  text-align: center;
}

.projects_git {
  padding: 10px;
}

.section .itch {
  text-decoration: none;
  color: white;
  transition: ease-in, 0.3s;
  padding-left: 3px;
  padding-right: 3px;
  text-shadow: 0px 2px rgb(71, 181, 255);
}

.section .itch:hover {
  text-decoration: none;
  background-color: royalblue;
  text-shadow: 2px 2px black;
  border-radius: 5px;
}
