
html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /*background-color: rgb(17, 16, 16); */
  /* font-family: 'Montserrat', sans-serif; */
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
  font-weight: lighter;
  font-style: oblique;
}
